In [50]:
import pandas as pd 
from bs4 import BeautifulSoup as bs
from splinter import Browser
import requests 
import os
import time
import pymongo

## * Scrape the [NASA Mars News Site](https://mars.nasa.gov/news/) and collect the latest News Title and Paragraph Text. Assign the text to variables that you can reference later.

In [51]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)
url = "https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest"
browser.visit(url)

In [54]:
html = browser.html
soup = bs(html, 'html.parser')

In [58]:
News_Title = soup.find('div', class_='content_title')
News_Title= News_Title.text
News_Title

'Curiosity on the Move Again'

In [59]:
News_Paragraph = soup.find('div', class_='article_teaser_body')
News_Paragraph = News_Paragraph.text
News_Paragraph

"NASA's Mars Curiosity rover drove about 197 feet over the weekend to a site called Lake Orcadie, pushing its total odometry to over 12 miles."

### JPL Mars Space Images - Featured Image

* Visit the url for JPL Featured Space Image [here](https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars).

* Use splinter to navigate the site and find the image url for the current Featured Mars Image and assign the url string to a variable called `featured_image_url`.

* Make sure to find the image url to the full size `.jpg` image.

* Make sure to save a complete url string for this image.

In [13]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)
url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(url)

In [14]:
browser.click_link_by_partial_text('FULL IMAGE')

In [18]:
browser.click_link_by_partial_text('more info')

In [19]:
html = browser.html
soup = bs(html, 'html.parser')

In [20]:
img = soup.find('figure', class_='lede')
full_size = img.find("a")["href"]

In [21]:

browser.click_link_by_href(full_size)

In [22]:
html = browser.html
soup = bs(html, 'html.parser')

In [23]:
featured_image_url = soup.find('img')['src']

In [67]:
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA17551_hires.jpg'

### Mars Weather

* Visit the Mars Weather twitter account [here](https://twitter.com/marswxreport?lang=en) and scrape the latest Mars weather tweet from the page. Save the tweet text for the weather report as a variable called `mars_weather`.

In [24]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [25]:
url = "https://twitter.com/marswxreport?lang=en"
response = requests.get(url)
soup = bs(response.text, 'html.parser')

In [26]:
results = soup.find('div', class_="js-tweet-text-container")
mars_weather = results.p.text
print(mars_weather)

Sol 2224 (2018-11-08), high 0C/32F, low -72C/-97F, pressure at 8.65 hPa, daylight 06:19-18:36

### Mars Facts

* Visit the Mars Facts webpage [here](http://space-facts.com/mars/) and use Pandas to scrape the table containing facts about the planet including Diameter, Mass, etc.

* Use Pandas to convert the data to a HTML table string.

In [27]:
url= "https://space-facts.com/mars/"
mars_table = pd.read_html(url)
mars_table

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [28]:
df = mars_table[0]
df.columns = ["Measurements", "Results"]
df.set_index("Measurements", inplace=True)

In [29]:
df

                                            Results
Measurements
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [30]:
mars_html_table= df.to_html()
mars_html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Results</th>\n    </tr>\n    <tr>\n      <th>Measurements</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [31]:
df.to_html('table.html')

### Mars Hemispheres

* Visit the USGS Astrogeology site [here](https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars) to obtain high resolution images for each of Mar's hemispheres.

* You will need to click each of the links to the hemispheres in order to find the image url to the full resolution image.

* Save both the image url string for the full resolution hemisphere image, and the Hemisphere title containing the hemisphere name. Use a Python dictionary to store the data using the keys `img_url` and `title`.

* Append the dictionary with the image url string and the hemisphere title to a list. This list will contain one dictionary for each hemisphere.

In [34]:
Url_List = []
Hemispheres = ['Cerberus Hemisphere Enhanced', 'Schiaparelli Hemisphere Enhanced', 'Syrtis Major Hemisphere Enhanced', 'Valles Marineris Hemisphere Enhanced']
for Hemisphere in Hemispheres:
    executable_path = {'executable_path': 'chromedriver.exe'}
    browser = Browser('chrome', **executable_path, headless=False)
    url= "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
    browser.visit(url)
    browser.click_link_by_partial_text(Hemisphere)
    html = browser.html 
    soup = bs(html, 'html.parser')
    img_url = soup.find('div', class_="downloads").find('ul').find('li').find('a')['href']
    Url_List.append(img_url)

In [35]:
Hem_List = [[Hemispheres[0], Url_List[0]],[Hemispheres[1], Url_List[1]],[Hemispheres[2], Url_List[2]],[Hemispheres[3], Url_List[3]]]

In [36]:
lables = {0: "Title", 1: "Img_Url"}
Hem_Dict = [{lables[idx]:val for idx,val in enumerate(item)} for item in Hem_List]
Hem_Dict

[{'Title': 'Cerberus Hemisphere Enhanced',
  'Img_Url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'},
 {'Title': 'Schiaparelli Hemisphere Enhanced',
  'Img_Url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'},
 {'Title': 'Syrtis Major Hemisphere Enhanced',
  'Img_Url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'},
 {'Title': 'Valles Marineris Hemisphere Enhanced',
  'Img_Url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]

In [46]:
H1 = Hem_Dict[0]
H2 = Hem_Dict[1]
H3 = Hem_Dict[2]
H4 = Hem_Dict[3]

In [48]:
 scrape = {"News_Title": News_Title, "News_Paragraph": News_Paragraph, "Featured_Image": featured_image_url, "Mars_Tweet": mars_weather,
    "Mars_Table": mars_html_table,
     'Cerberus': H1["Title"], 'Cerberus_Img': H1["Img_Url"],
     'Schiaparelli': H2["Title"], 'Schiaparelli_Img': H2["Img_Url"],
     'Syrtis': H3["Title"], 'Syrtis_Img': H3["Img_Url"],
     'Valles': H4["Title"], 'Valles_Img': H4["Img_Url"],}

In [66]:
H1["Title"]
H1["Img_Url"]

'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'

In [65]:
H1

{'Title': 'Cerberus Hemisphere Enhanced',
 'Img_Url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'}